<!DOCTYPE html>
<html>
<head>
  <title>HologramRailsExample</title>
  <%= stylesheet_link_tag    "styleguide", media: "all", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
